<section class="thirteen columns">
    <h1>Education</h1>
        <article>
      <header>
            <h1>PhD in Electrical Engineering (graduating on spring 2019)</h1>
            <span>University of Paderborn</span>
            <span><address>Paderborn, Germany</address><time>2013 to 2019</time></span>
        </header>
        <p>
            <em>Dissertation (tentative title): Enhancement of Statistical Shape Models to achieve segmentation of anatomy in medical images.</em>
        </p>
    </article>
    
    <article>
        <header>
            <h1>Master Degree in Information Technologies and Communications in Mobile Networks.</h1>
            <span>University of Cantabria</span>
            <span><address>Santander, Spain</address><time>2011 to 2012</time></span>
        </header>
        <p>
            <em>Master Thesis: Breast cancer diagnostic with blind signal separation techniques and textural analysis of optical reflectance measurements.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>Degree of Ingeniero de Telecomunicacion (Telecommunication Engineer’s Degree)</h1>
            <span>University of Cantabria</span>
            <span><address>Santander, Spain</address><time>2006 to 2011</time></span>
        </header>
        <p>
            <em>Graduated best in class of 2011</em>
        </p>
    </article>
</section>
