<section class="thirteen columns">
    <h1>Education</h1>
        <article>
      <header>
            <h1>PhD in Electrical Engineering</h1>
            <span>University of Cantabria</span>
            <span><address>Santander, Spain</address><time>2011 to 2015</time></span>
        </header>
        <p>
            <em>Dissertation title: Cooperative Techniques for Interference Management in Wireless Networks.</em>
        </p>
    </article>
    
    <article>
        <header>
            <h1>Master Degree in Information Technologies and Communications in Mobile Networks.</h1>
            <span>University of Cantabria</span>
            <span><address>Santander, Spain</address><time>2010 to 2011</time></span>
        </header>
    </article>
    <article>
        <header>
            <h1>Degree in Telecommunication Engineering</h1>
            <span>University of Cantabria</span>
            <span><address>Santander, Spain</address><time>2005 to 2010</time></span>
        </header>
    </article>
</section>
